body {
  background-color: lightyellow;
}
input:placeholder-shown {
  display: flex;
  width:400px;
  background-color:rgb(255,160,122,.3);
}


#button {
  display: flex;
  margin-top: 20px;
  background-color:rgb(0,0,255,.5);
}

p {
  background-color: rgb(255,160,122,.3);
}

h2 {
  font-weight: 200;
}